{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="container">
    <div class="m-4">
        <h2 style="text-align: center; margin: 10px;">Rahbariyati</h2>
              <div style="margin: 12px; border: 10px solid white; background-color: #F5F5F5">
                <div class="row">
                <div class="col-lg-3 col-md-6">
                    <img style="width: 270px; height: 280px;" src="{% static 'images/xodimlar/director.jpg' %}" alt="">
                </div>
                <div class="col-lg-8 col-md-6">
                    <h4 class="mb-4">Pulatov Baxtiyor Alimovich</h4>
                    <h6 class="mt-3">Direktor</h6>
                    <p class="mt-4">
                        <i class="fa-solid fa-phone"></i>
                        +998 71 277 69 83
                    </p>
                    <p class="mt-4">
                        <i class="fa-regular fa-envelope"></i>
                        Elektron pochta: eco_nii@uznature.uz 
                    </p>
                    <p class="mt-3">
                        <i class="fa-regular fa-calendar"></i>
                        Qabul kunlari :  Dushanba-Juma 
                    </p>
                    <p class="mt-3">
                        <i class="fa-regular fa-clock"></i>
                        Qabul vaqti: 10:00 - 12:00
                    </p>               
                </div>
            </div>
            </div>

        <div style="margin: 12px; border: 10px solid white; background-color: #F5F5F5">
                <div class="row">
                <div class="col-lg-3 col-md-6">
                    <img style="width: 270px; height: 280px;" src="{% static 'images/xodimlar/zamdirektor.jpg' %}" alt="">
                </div>
                <div class="col-lg-8 col-md-6">
                    <h4 class="mb-4">Boriyev Salimjon Samedjanovich</h4>
                    <h6 class="mt-3">Direktorning ilmiy ishlar va innovatsiyalar boʼyicha oʼrinbosari</h6>
                    <p class="mt-4">
                        <i class="fa-solid fa-phone"></i>
                        +998 71 277 69 83
                    </p>
                    <p class="mt-4">
                        <i class="fa-regular fa-envelope"></i>
                        Elektron pochta: s.buriyev@eco.gov.uz
                    </p>
                    <p class="mt-3">
                        <i class="fa-regular fa-calendar"></i>
                        Qabul kunlari :  Seshanba-Payshanba
                    </p>
                    <p class="mt-3">
                        <i class="fa-regular fa-clock"></i>
                        Qabul vaqti: 10:00 - 12:00
                    </p>
                </div>
            </div>
            </div>
        <div style="margin: 12px; border: 10px solid white; background-color: #F5F5F5">
                <div class="row">
                <div class="col-lg-3 col-md-6">
                    <img style="width: 270px; height: 280px;" src="{% static 'images/xodimlar/zam2.jpg' %}" alt="">
                </div>
                <div class="col-lg-8 col-md-6">
                    <h4 class="mb-4">Aminov Hamza Husanovich</h4>
                    <h6 class="mt-3">Direktor o'rinbosari</h6>
                    <p class="mt-4">
                        <i class="fa-solid fa-phone"></i>
                        +998 97 712 29 34
                    </p>
                    <p class="mt-4">
                        <i class="fa-regular fa-envelope"></i>
                        eco_nii@uznature.uz
                    </p>
                </div>
            </div>
            </div>
        <div style="margin: 12px; border: 10px solid white; background-color: #F5F5F5">
                <div class="row">
                <div class="col-lg-3 col-md-6">
                    <img style="width: 270px; height: 280px;" src="{% static 'images/xodimlar/prof-1.jpg' %}" alt="">
                </div>
                <div class="col-lg-8 col-md-6">
                    <h4 class="mb-4">Madrimov Rajabboy Masharipovich</h4>
                    <h6 class="mt-3">“Yer resurslarini muhofaza qilish” laboratoriyasi mudiri</h6>
                    <p class="mt-4">
                        <i class="fa-solid fa-phone"></i>
                        +99 897 712 29 34
                    </p>
                    <p class="mt-4">
                        <i class="fa-regular fa-envelope"></i>
                        Elektron pochta: madrimov7105@gmail.com
                    </p>
                </div>
            </div>
            </div>


        <div style="margin: 12px; border: 10px solid white; background-color: #F5F5F5">
                <div class="row">
                <div class="col-lg-3 col-md-6">
                    <img style="width: 270px; height: 280px;" src="{% static 'images/xodimlar/adolat.jpg' %}" alt="">
                </div>
                <div class="col-lg-8 col-md-6">
                    <h4 class="mb-4">Urinova Adolat Abdivasiyevna</h4>
                    <h6 class="mt-3">“Bioxilmaxillikni saqlash” laboratoriyasi mudirasi</h6>
                    <p class="mt-4">
                        <i class="fa-solid fa-phone"></i>
                        +99 899 025 98 28
                    </p>
                    <p class="mt-4">
                        <i class="fa-regular fa-envelope"></i>
                        adolat.urinova@mail.ru
                    </p>
                </div>
            </div>
            </div>
        <div style="margin: 12px; border: 10px solid white; background-color: #F5F5F5">
                <div class="row">
                <div class="col-lg-3 col-md-6">
                    <img style="width: 270px; height: 280px;" src="{% static 'images/xodimlar/prof-2.jpg' %}" alt="">
                </div>
                <div class="col-lg-8 col-md-6">
                    <h4 class="mb-4">Erkabayev Furqat Ilyasovich</h4>
                    <h6 class="mt-3">““Suv resurslarini muhofaza qilish texnologiyalari” laboratoriyasi mudiri</h6>
                    <p class="mt-4">
                        <i class="fa-solid fa-phone"></i>
                        +99 897 157 07 40
                    </p>
                    <p class="mt-4">
                        <i class="fa-regular fa-envelope"></i>
                        erkabaevf@rambler.ru
                    </p>
                </div>
            </div>
            </div>
        <div style="margin: 12px; border: 10px solid white; background-color: #F5F5F5">
                <div class="row">
                <div class="col-lg-3 col-md-6">
                    <img style="width: 270px; height: 280px;" src="{% static 'images/xodimlar/zikrilla.jpg' %}" alt="">
                </div>
                <div class="col-lg-8 col-md-6">
                    <h4 class="mb-4">Alimov Zikrilla</h4>
                    <h6 class="mt-3">“Atmosfera havosini muhofaza qilish” laboratoriyasi mudiri</h6>
                    <p class="mt-4">
                        <i class="fa-solid fa-phone"></i>
                        +99 890 820 40 69
                    </p>
                    <p class="mt-4">
                        <i class="fa-regular fa-envelope"></i>
                        zikrillaalimov@gmail.com
                    </p>
                </div>
            </div>
            </div>
        <div style="margin: 12px; border: 10px solid white; background-color: #F5F5F5">
                <div class="row">
                <div class="col-lg-3 col-md-6">
                    <img style="width: 270px; height: 280px;" src="{% static 'images/xodimlar/chiqindi-1.jpg' %}" alt="">
                </div>
                <div class="col-lg-8 col-md-6">
                    <h4 class="mb-4">Ro'ziyeva Adolat Abdivasiyevna</h4>
                    <h6 class="mt-3">“Chiqindilarni qayta ishlash va utilizatsiya qilish” laboratoriyasi mudirasi</h6>
                    <p class="mt-4">
                        <i class="fa-solid fa-phone"></i>
                        +99 890 352 07 96
                    </p>
                    <p class="mt-4">
                        <i class="fa-regular fa-envelope"></i>
                        i.ruziyeva1979@gmail.com
                    </p>
                </div>
            </div>
            </div>
        <div style="margin: 12px; border: 10px solid white; background-color: #F5F5F5">
                <div class="row">
                <div class="col-lg-3 col-md-6">
                    <img style="width: 270px; height: 280px;" src="{% static 'images/xodimlar/saidjamol.jpg' %}" alt="">
                </div>
                <div class="col-lg-8 col-md-6">
                    <h4 class="mb-4">Xasanov Sayidjaxon</h4>
                    <h6 class="mt-3">“Yashil o'sish va iqlim o'zgarishi” bo'limi boshlig‘i</h6>
                    <p class="mt-4">
                        <i class="fa-solid fa-phone"></i>
                        +99 894 671 17 76
                    </p>
                    <p class="mt-4">
                        <i class="fa-regular fa-envelope"></i>
                        sayidjakhon.khasanov@gmail.com
                    </p>
                </div>
            </div>
            </div>
        <div style="margin: 12px; border: 10px solid white; background-color: #F5F5F5">
                <div class="row">
                <div class="col-lg-3 col-md-6">
                    <img style="width: 270px; height: 280px;" src="{% static 'images/xodimlar/umidjpg.jpg' %}" alt="">
                </div>
                <div class="col-lg-8 col-md-6">
                    <h4 class="mb-4">Boboyev Hasan Odilovich</h4>
                    <h6 class="mt-3">“Ekotizim xizmatlari va normativ hujjatlarni ishlab chiqish” bo‘limi boshlig‘i</h6>
                    <p class="mt-4">
                        <i class="fa-solid fa-phone"></i>
                        +99 897 002 30 33
                    </p>
                    <p class="mt-4">
                        <i class="fa-regular fa-envelope"></i>
                        hasanb83@yahoo.com
                    </p>
                </div>
            </div>
            </div>
        <div style="margin: 12px; border: 10px solid white; background-color: #F5F5F5">
                <div class="row">
                <div class="col-lg-3 col-md-6">
                    <img style="width: 270px; height: 280px;" src="{% static 'images/xodimlar/shahlo.jpg' %}" alt="">
                </div>
                <div class="col-lg-8 col-md-6">
                    <h4 class="mb-4">Rabbimkulova Shaxlo Berdiyorovna</h4>
                    <h6 class="mt-3">"Ekologik ta’lim va targ‘ibot” bo‘limi boshlig‘i</h6>
                    <p class="mt-4">
                        <i class="fa-solid fa-phone"></i>
                        +99 895 084 22 44
                    </p>
                    <p class="mt-4">
                        <i class="fa-regular fa-envelope"></i>
                        shahloberdiyarova@gmail.com
                    </p>
                </div>
            </div>
            </div>
      </div>
    </div>
    {% endblock content %}

{%block footer %}
   {% for footerNew in footerNews%}
      <li> <img class="yangiliklar" src="{{ footerNew.image.url }}" alt="">
         <strong>
            <a href="{% url 'news-detail' footerNew.id %}">{{footerNew.title|truncatewords:7}}</a>
         </strong>
         <span class="pdate"><i>Chop etildi:</i>{{footerNew.created_at}}</span>
      </li>
{% endfor %}
{%endblock footer%}
